<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="uk.co.bloodwych" versionCode="5"
				version="0.5.0">
	<name>Bloodwych</name>
	<description>
		The land of Trazere was once ruled by the powerful and benevolent organization of mages known as Bloodwych. Governed
		by the Grand Dragon, the Bloodwych supervised over the balance in the land, protecting it from evil and driving it
		to prosperity. However, the second-in-command of Bloodwych, named Zendick, turned against his group, banished his
		opponents to the astral plane, and began working on a mad plan - summon the ultimate evil, the Lord of Entropy. The
		player controls the champion of Trazere, whose ultimate goal is to stop Zendick and restore peace in the country.

		Bloodwych is an RPG in the style of Dungeon Master and Eye of the Beholder, being a 3D first-person maze-like game.
		This game's distinguishing feature is the two-player split screen support, allowing simultaneous playing on one
		device.

		Each player controls a party of four characters. The four basic classes are warrior, mage, adventurer, and thief;
		however, each class also has sub-classes, which are represented by four different colors. These colors come into
		play also when the characters learn and combine spells.
	</description>
	<author href="http://bloodwych.co.uk/" email="jnieberg@gmail.com">
		Mad Bone
	</author>
	<preference name="permissions" value="none" />
	<preference name="orientation" value="landscape" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="9" />
	<preference name="android-installLocation" value="auto" />

	<icon src="images/icon.png" />
	<icon src="images/icon.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="images/icon.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="images/icon-high.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="images/icon-high.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="images/icon.png" gap:platform="blackberry" />
	<icon src="images/icon.png" gap:platform="blackberry" gap:state="hover" />
	<icon src="images/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="images/icon.png" gap:platform="ios" width="72" height="72" />
	<icon src="images/icon-high.png" gap:platform="ios" width="114" height="114" />
	<icon src="images/icon-high.png" gap:platform="ios" width="144" height="144" />
	<icon src="images/icon.png" gap:platform="webos" />
	<icon src="images/icon-high.png" gap:platform="winphone" />
	<icon src="images/icon-high.png" gap:platform="winphone" gap:role="background" />

	<!-- <gap:splash src="images/loading.png" gap:platform="android" gap:qualifier="land-ldpi" />
	<gap:splash src="images/loading.png" gap:platform="android" gap:qualifier="land-mdpi" />
	<gap:splash src="images/loading.png" gap:platform="android" gap:qualifier="land-hdpi" />
	<gap:splash src="images/loading.png" gap:platform="android" gap:qualifier="land-xhdpi" />
	<gap:splash src="images/loading.png" gap:platform="blackberry" />
	<gap:splash src="images/loading.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="images/loading.png" gap:platform="winphone" />

	<access origin="*" /> -->

</widget>